:root{
  --background-secondary: #0D1117;
  --background: #1E242C;
  --background-elevated: #161B22;
  
  --text-primary: #E6EDF3;
  --text-secondary: #9BA5B3;
  --text-disabled: #6C7480;

  --accent-primary: #2F81F7;
  --accent-hover: #539BF5;
  --accent-active: #1F6FEB;

  --success: #3FB950;
  --warning: #F2CC60;
  --error: #F85149;

  --border: #30363D;
}


