<div class="w-full h-full flex flex-col relative"
        (dragover)="onDragOver($event)"

    >

     <!-- Section Drag & Drop -->
    <div
        class="absolute w-full h-full flex flex-col items-center justify-center z-50 text-center cursor-pointer group p-4"
        *ngIf="draggingFile"
        [class.bg-card]="draggingFile"
    >
        <div
            class="absolute w-full h-full opacity-65 border-2 border-dashed rounded-lg 
                transition duration-200
                border-blue-500 bg-gray-500">
        </div>

        <div
        class="z-10 flex flex-col items-center justify-center"
        >
            <mat-icon class="transition duration-200 text-white icon-size-12 pb-2" [svgIcon]="'heroicons_solid:archive-box'"></mat-icon>
            <p class="transition duration-200 text-white font-bold text-lg">
                Arrastra tu archivo JSON aquí para seleccionar
            </p>
            <p class="text-sm mt-1 transition duration-200 text-gray-300 text-md font-medium">
                Solo archivos .json
            </p>
        </div>
        <div class="absolute w-full h-full z-60"
        (drop)="onDrop($event)"
        (dragleave)="onDragLeave($event)"

        ></div>
        
    </div>

    <!-- Header fijo -->
    <div class="relative flex items-center w-full h-16 z-40 px-4 sticky top-0 border-b">
        <div class="relative flex items-center">
        <h2 class="text-lg font-bold text-white">Configuración</h2>
        </div>

        <div class="flex items-center ml-auto space-x-0.5">
        <button mat-icon-button [matTooltip]="tooltip || 'Cargar'" (click)="fileInput.click()">
            <mat-icon [svgIcon]="'heroicons_solid:arrow-up-on-square'"></mat-icon>
        </button>
        <button mat-icon-button [matTooltip]="tooltip || 'Descargar'" (click)="downloadJSON()">
            <mat-icon [svgIcon]="'heroicons_solid:arrow-down-on-square'"></mat-icon>
        </button>
        </div>
    </div>


    <div class="flex-1 overflow-y-auto px-4">
        <form class="flex flex-col">

            <!-- IOT BROKER -->

            <div class="sticky top-0 bg-gray-800 py-2 z-49 border-b flex items-center justify-between">
                <h3 class="text-lg text-white font-bold">IoT Broker</h3>
                <button mat-icon-button type="button" matTooltip="{{isOpen.iot ? 'Ocultar' : 'Mostrar'}}" class="collapsible" (click)="isOpen.iot = !isOpen.iot">
                    <mat-icon [svgIcon]="'heroicons_solid:chevron-down'" class="icon-size-5 animacion-rotar" [class.izquierda]="!isOpen.iot"></mat-icon>
                </button>
            </div>

            <div class="flex flex-col gap-4 content" [class.closed]="!isOpen.iot">
                <div class="flex flex-col" *ngFor="let variable of variablesIotBroker">
                    <mat-form-field *ngIf="variable.input && variable.name !== 'weights'"
                        class="flex-auto fuse-mat-dense selector">
                        <mat-label class="text-sm text-secondary">{{variable.text}}</mat-label>
                        <input
                            type="number"
                            matInput
                            class="text-secondary text-sm"
                            [name]="variable.name"
                            [ngModel]="variable.value"
                            (blur)="checkValue($event, variable)"
                            (keydown.enter)="onEnter($event, variable)"
                            >
                    </mat-form-field>
                    <!-- Colas de prioridad -->
                    <div class="flex items-center justify-between" *ngIf="variable.name === 'weights'">
                        <span class="text-sm text-secondary">Colas de prioridad</span>
                            <div>
                                <button mat-icon-button color="primary" type="button" [disabled]="variable.value.length >= 20" matTooltip="Agregar cola" (click)="updateQueueCount(variable.value.length + 1)">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" type="button" [disabled]="variable.value.length <= 1" matTooltip="Eliminar cola" (click)="updateQueueCount(variable.value.length - 1)">
                                    <mat-icon>remove</mat-icon>
                                </button>
                            </div>
                            
                    </div>

                    <div class="flex flex-col items-end" *ngIf="variable.name === 'weights'">
                        <mat-form-field *ngFor="let q of variable.value; let i = index"
                            class="fuse-mat-dense mb-1 w-full field-hover">
                            <input
                                matInput
                                min="1"
                                max="100"
                                class="text-right pr-1 text-secondary"
                                type="number"
                                name="weight-{{i}}"
                                [ngModel]="onWeightValue(q)"
                                (ngModelChange)="onChangePercent($event, q)"
                                (blur)="onWeightInput($event, i)"
                                (keydown.enter)="onEnterWeight($event, i)"
                                >
                            <span matPrefix>Cola # {{i+1}}</span>
                            <span matSuffix>%</span>
                        </mat-form-field>
                        <!-- Total -->
                        <div class="text-xs font-bold"
                            [class.text-green-400]="totalWeight === 100"
                            [class.text-red-400]="totalWeight != 100">
                            Total: {{ totalWeight }} / 100 %
                        </div>
                    </div>
                    <!-- Toogle ciclos -->
                    <div class="flex flex-col" *ngIf="!variable.input">
                        <label for="" class="text-sm font-medium mb-1 text-secondary">Ciclos de día y noche</label>

                        <mat-slide-toggle
                        [checked]="variable.value"
                        (change)="variable.value = $event.checked"
                        [color]="'primary'"
                        class="mt-0">
                        </mat-slide-toggle>
                    </div>
                </div>
            </div>

            <!-- CATEGORISER -->

            <div class="sticky top-0 bg-gray-800 py-2 z-49 border-b flex items-center justify-between">
                <h3 class="text-lg text-white font-bold">Categoriser</h3>
                <button mat-icon-button type="button" matTooltip="{{isOpen.categoriser ? 'Ocultar' : 'Mostrar'}}" class="collapsible" (click)="isOpen.categoriser = !isOpen.categoriser">
                    <mat-icon [svgIcon]="'heroicons_solid:chevron-down'" class="icon-size-5 animacion-rotar" [class.izquierda]="!isOpen.categoriser"></mat-icon>
                </button>
            </div>

            <div class="flex flex-col gap-4 content"  [class.closed]="!isOpen.categoriser">
                <div class="flex flex-col selector" *ngFor="let variable of variablesCategoriser">
                    <mat-form-field *ngIf="variable.input"
                        class="flex-auto fuse-mat-dense  ">
                        <mat-label class="text-sm text-secondary">{{variable.text}}</mat-label>
                        <input
                            type="number"
                            matInput
                            class="text-secondary text-sm"
                            [name]="variable.name"
                            [ngModel]="variable.value"
                            (blur)="checkValue($event, variable)"
                            (keydown.enter)="onEnter($event, variable)"
                            >
                    </mat-form-field>
                </div>
            </div>

            <!-- DISPATCHER -->

            <div class="sticky top-0 bg-gray-800 py-2 z-49 border-b flex items-center justify-between">
                <h3 class="text-lg text-white font-bold">Dispatcher</h3>
                <button mat-icon-button type="button" matTooltip="{{isOpen.dispatcher ? 'Ocultar' : 'Mostrar'}}" class="collapsible" (click)="isOpen.dispatcher = !isOpen.dispatcher">
                    <mat-icon [svgIcon]="'heroicons_solid:chevron-down'" class="icon-size-5 animacion-rotar" [class.izquierda]="!isOpen.dispatcher"></mat-icon>
                </button>
            </div>

            <div class="flex flex-col gap-4 content" [class.closed]="!isOpen.dispatcher">
                <div class="flex flex-col selector" *ngFor="let variable of variablesDispatcher">
                    <mat-form-field *ngIf="variable.input"
                        class="flex-auto fuse-mat-dense  ">
                        <mat-label class="text-sm text-secondary">{{variable.text}}</mat-label>
                        <input
                            type="number"
                            matInput
                            class="text-secondary text-sm"
                            [name]="variable.name"
                            [ngModel]="variable.value"
                            (blur)="checkValue($event, variable)"
                            (keydown.enter)="onEnter($event, variable)"
                            >
                    </mat-form-field>
                </div>
            </div>

            <!-- CONSUMER -->

            <div class="sticky top-0 bg-gray-800 py-2 z-49 border-b flex items-center justify-between">
                <h3 class="text-lg text-white font-bold">Consumer</h3>
                <button mat-icon-button type="button" matTooltip="{{isOpen.consumer ? 'Ocultar' : 'Mostrar'}}" class="collapsible" (click)="isOpen.consumer = !isOpen.consumer">
                    <mat-icon [svgIcon]="'heroicons_solid:chevron-down'" class="icon-size-5 animacion-rotar" [class.izquierda]="!isOpen.consumer"></mat-icon>
                </button>
            </div>

            <div class="flex flex-col gap-4 content mb-4" [class.closed]="!isOpen.consumer">
                <div class="flex flex-col selector" *ngFor="let variable of variablesConsumer">
                    <mat-form-field *ngIf="variable.input"
                        class="flex-auto fuse-mat-dense  ">
                        <mat-label class="text-sm text-secondary">{{variable.text}}</mat-label>
                        <input
                            type="number"
                            matInput
                            class="text-secondary text-sm"
                            [name]="variable.name"
                            [ngModel]="variable.value"
                            (blur)="checkValue($event, variable)"
                            (keydown.enter)="onEnter($event, variable)"
                            >
                    </mat-form-field>
                </div>
            </div>

            <input
                #fileInput
                type="file"
                accept=".json"
                class="hidden"
                (change)="onJSONSelected($event)"
                >
        </form>
    </div>
</div>