<section class=" w-full text-slate-100 font-sans pb-4">
  
    <section class="gap-4 w-full mb-4" style="display: grid; grid-template-columns: 1fr 560px; ">
      <div class="bg-[#131722] pb-4 rounded-xl border border-slate-800 relative min-w-0">
        <div class="flex flex-row items-center gap-2 py-2 px-4 border-b border-slate-800">
          <h2 class="text-sm font-semibold text-slate-300">Dispersión de Producción</h2>
          
          <button 
            mat-icon-button 
            class="w-7 h-7 min-w-7 min-h-7 p-0 flex items-center justify-center overflow-hidden"
            style="line-height: 1; min-width: 28px !important; height: 28px !important;"
            [matTooltip]="'Reiniciar Zoom'"
            (click)="resetZoom('broker')"
            >
            <mat-icon 
                class="icon-size-4 m-0" 
                [svgIcon]="'heroicons_solid:arrow-path'">
            </mat-icon>
          </button>

          <button 
            mat-icon-button 
            class="w-7 h-7 min-w-7 min-h-7 p-0 flex items-center justify-center overflow-hidden"
            style="line-height: 1; min-width: 28px !important; height: 28px !important;"
            [matTooltip]="'Descargar Gráfica'"
            (click)="downloadChart('broker')"
            >
            <mat-icon
                class="icon-size-4 m-0" 
                [svgIcon]="'heroicons_solid:arrow-down-tray'">
            </mat-icon>
          </button>
        </div>

        <div class="bg-[#131722] p-4 rounded-xl border border-slate-800 absolute top-0 right-0">
          <p class="text-sm text-slate-400">Total Mensajes</p>
          <span class="text-2xl font-bold text-blue-500" #totalMessages>0</span>
        </div>
        <canvas #scatterBroker height="300" class="mx-4" style="max-height: 320px !important;"></canvas>
      </div>
  
      <div class="bg-[#131722] pb-4 rounded-xl border border-slate-800 justify-between relative min-w-0" >
        <div class="flex flex-row items-center gap-2 py-2 px-4 border-b border-slate-800">
          <h2 class="text-sm font-semibold text-slate-300">Distribución de Carga</h2>

          <button 
            mat-icon-button 
            class="w-7 h-7 min-w-7 min-h-7 p-0 flex items-center justify-center overflow-hidden"
            style="line-height: 1; min-width: 28px !important; height: 28px !important;"
            [matTooltip]="'Descargar Gráfica'"
            (click)="downloadChart('consumer')"
            >
            <mat-icon
                class="icon-size-4 m-0" 
                [svgIcon]="'heroicons_solid:arrow-down-tray'">
            </mat-icon>
          </button>
        </div>

        <div class="w-full grid grid-cols-3">
          <div class="col-span-2 flex justify-center items-center mt-4">
            
            <canvas #pieCategoriser 
                    height="300" 
                    width="300" 
                    style="max-height: 300px !important; max-width: 300px;">
            </canvas>

          </div>
        </div>
        
        <div class="flex flex-col absolute top-0 right-0 h-full w-[180px]">
          <div class="text-sm flex justify-center items-center font-semibold text-slate-300 h-[44.8px] py-2 text-center w-full">
            Procesamiento medio
          </div>
          <div *ngFor="let q of dataQueuesTime; let i = index" 
              #queueCanvas 
              class="flex-1 bg-[#131722] grid grid-cols-3 px-4 rounded-l-xl border items-center justify-between border-slate-800 {{i == dataQueuesTime.length-1 ? 'rounded-br-xl' : ''}}">
            <p class="text-sm text-slate-400">Q{{i+1}}</p>
            <span class="text-2xl font-bold col-span-2" [style.color]="colors[i]">
              {{q}}ms
            </span>
          </div>
        </div>
      </div>
    </section>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 ">
    <div class="bg-[#131722] pb-4 rounded-xl border border-slate-800">
      <div class="flex flex-row items-center gap-2 py-2 px-4 border-b border-slate-800">
          <h2 class="text-sm font-semibold text-slate-300">Mensajes válidos y expirados por Prioridad</h2>

          <button 
            mat-icon-button 
            class="w-7 h-7 min-w-7 min-h-7 p-0 flex items-center justify-center overflow-hidden"
            style="line-height: 1; min-width: 28px !important; height: 28px !important;"
            [matTooltip]="'Descargar Gráfica'"
            (click)="downloadChart('expiredBar')"
            >
            <mat-icon
                class="icon-size-4 m-0" 
                [svgIcon]="'heroicons_solid:arrow-down-tray'">
            </mat-icon>
          </button>
        </div>
      <canvas #expiredBar height="300" class="px-4" style="max-height: 300px !important;"></canvas>
    </div>
    
    <div class="bg-[#131722] pb-2 rounded-xl border border-slate-800 lg:col-span-2 ">
      <div class="flex flex-row items-center gap-2 py-2 px-4 border-b border-slate-800">
          <h2 class="text-sm font-semibold text-slate-300">Procesamiento por Prioridad</h2>

          <button 
            mat-icon-button 
            class="w-7 h-7 min-w-7 min-h-7 p-0 flex items-center justify-center overflow-hidden"
            style="line-height: 1; min-width: 28px !important; height: 28px !important;"
            [matTooltip]="'Reiniciar Zoom'"
            (click)="resetZoom('categoriser')"
            >
            <mat-icon 
                class="icon-size-4 m-0" 
                [svgIcon]="'heroicons_solid:arrow-path'">
            </mat-icon>
          </button>

          <button 
            mat-icon-button 
            class="w-7 h-7 min-w-7 min-h-7 p-0 flex items-center justify-center overflow-hidden"
            style="line-height: 1; min-width: 28px !important; height: 28px !important;"
            [matTooltip]="'Descargar Gráfica'"
            (click)="downloadChart('categoriser')"
            >
            <mat-icon
                class="icon-size-4 m-0" 
                [svgIcon]="'heroicons_solid:arrow-down-tray'">
            </mat-icon>
          </button>
        </div>
      <canvas #lineConsumer height="300" class="px-4" style="max-height: 300px !important;"></canvas>
    </div>
  </div>


</section>