<div class="flex flex-col h-full w-full bg-transparent">
    

    <div class="absolute bottom-2 w-full flex items-center justify-center gap-2">
        <button mat-mini-fab class="tooltip-btn abajo"
        [matTooltip]="'Reiniciar'">
            <mat-icon [svgIcon]="'heroicons_solid:arrow-path-rounded-square'"></mat-icon>
        </button>
        <button mat-fab class="tooltip-btn abajo"
        (click)="toggleStateSimulation()"
        [matTooltip]="textoAccionPlayPause"
        [color]="'primary'">
            <mat-icon [svgIcon]="'heroicons_solid:play'"></mat-icon>
        </button>
        <button mat-mini-fab class="tooltip-btn abajo"
        [matTooltip]="'Detener'">
            <mat-icon [svgIcon]="'heroicons_solid:stop'"></mat-icon>
        </button>
    </div>
</div>